h1{
  text-align: center;
  z-index: 1;
  color: #f5a8bd; 
}

img {
  max-width: 40%;
  max-height: 40%;
  display: block;
  margin: 0 auto;
}


body{
  font-family: 'Franklin Gothic Medium', sans-serif;
  background-color: #f8edeb; 

}

h2{
  font-size: x-large;
  color: #30475e; 
}





button{
  margin-top: 5px;
}

.card-images{
  float:right;
  margin-right: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 300px;
  height: 300px;
  object-fit: cover; 
}

.menu-container {
  cursor: pointer;
  text-align: left;
  padding: 5px;
  font-size: xx-large;
  display: flex;
  align-items: center;
  position: relative;
}

.menu-body {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  z-index: 1;
}

.edit{
  padding-bottom: 10px;
}

.search-bar{
  text-align: center;
}

.add{
  color: #f5a8bd;
  text-align: center;
}

.card {
 
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.card:hover {
 
  transform: translateY(-5px);
}

.card::before {
  
  background-image: url('https://images.unsplash.com/photo-1564577163255-622a42af1257');
  background-position: center;
  background-size: cover;
  bottom: -100px;
  content: '';
  filter: blur(15px);
  left: -100px;
  opacity: 0.7;
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: -1;
}

Container{
  padding: 20px;
}
.card h5 {
  
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  
  color: #666;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.card button {
  margin-top: 20px;
  background-color: #f5a8bd;
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
}

.card button:hover {
  background-color: #f38181;
}


.add {
  margin-top: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 10px;
  color: #30475e; 
}

.add h2 {
  color: #30475e;
  font-size: 24px;
  margin-bottom: 10px;
}

h4{
  text-align: center;
  color: #f5a8bd;
  font-weight: 700;
}